/**
 * @name Gradients
 * @author envoidia
 * @version 05/11/25
 * @description Adds gradients to Discord
 * @source https://github.com/envoidia/discord-css
 * @website https://envoidia.neocities.org
 */

:root {
    --c1: #c76af2;
    --c2: #5564df;
    --dir: 130deg;
}

.selectedChannel_c69b6d, .button_a22cb0, .focused_c1e9c4, .selected_bf202d, .selected_aa8da2, .unread__2ea32, .botTag__82f07, .newMessagesBar__0f481 {
    border-radius: 6px;
    background: linear-gradient(var(--dir), var(--c1), var(--c2)) !important;
}
